In [74]:
import pandas as pd   # pandas 모듈을 약어 pd로 import

In [203]:
df1 = pd.read_excel('movie_box_office.xls', sheet_name='KOBIS_역대_박스오피스(통합전산망_집계_기준)_202')
df1 # df1은 변수

      순위         영화명        개봉일  ...  대표국적   국적                       배급사
0      1          명량 2014-07-30  ...    한국   한국                 씨제이이앤엠(주)
1      2        극한직업 2019-01-23  ...    한국   한국                 씨제이이앤엠(주)
2      3   신과함께-죄와 벌 2017-12-20  ...    한국   한국             롯데쇼핑㈜롯데엔터테인먼트
3      4        국제시장 2014-12-17  ...    한국   한국                 씨제이이앤엠(주)
4      5  어벤져스: 엔드게임 2019-04-24  ...    미국   미국        월트디즈니컴퍼니코리아 유한책임회사
..   ...         ...        ...  ...   ...  ...                       ...
196  197         악인전 2019-05-15  ...    한국   한국  (주)에이스메이커무비웍스,(주)키위미디어그룹
197  198          이끼 2010-07-14  ...    한국   한국                 씨제이엔터테인먼트
198  199         한반도 2006-07-13  ...    한국   한국                 씨제이엔터테인먼트
199  200       포화속으로 2010-06-16  ...    한국   한국             롯데쇼핑㈜롯데엔터테인먼트
200   합계         NaN        NaT  ...   NaN  NaN                       NaN

[201 rows x 10 columns]

In [204]:
df1['영화명'] = df1['영화명'].astype(str) # 영화명 정렬 시 str과 int간 정렬 불가 오류가 발생해서, '영화명' 컬럼 전체를 str 타입으로 변환함
df1 = df1.sort_values('영화명') # '영화명' 컬럼을 오름차순으로 정렬
df1

      순위           영화명        개봉일  ...  대표국적  국적                  배급사
49    50          1987 2017-12-27  ...    한국  한국            씨제이이앤엠(주)
91    92          2012 2009-11-12  ...    미국  미국  한국소니픽쳐스릴리징브에나비스타영화㈜
152  153        7급 공무원 2009-04-22  ...    한국  한국        롯데쇼핑㈜롯데엔터테인먼트
9     10       7번방의 선물 2013-01-23  ...    한국  한국  (주)넥스트엔터테인먼트월드(NEW)
176  177      82년생 김지영 2019-10-23  ...    한국  한국    롯데컬처웍스(주)롯데엔터테인먼트
..   ...           ...        ...  ...   ...  ..                  ...
17    18           해운대 2009-07-22  ...    한국  한국            씨제이엔터테인먼트
32    33  해적: 바다로 간 산적 2014-08-06  ...    한국  한국        롯데쇼핑㈜롯데엔터테인먼트
156  157  혹성탈출: 반격의 서막 2014-07-10  ...    미국  미국         이십세기폭스코리아(주)
60    61        화려한 휴가 2007-07-25  ...    한국  한국            씨제이엔터테인먼트
41    42          히말라야 2015-12-16  ...    한국  한국            씨제이이앤엠(주)

[201 rows x 10 columns]

In [205]:
df2 = pd.read_excel('movie_info_list.xls', sheet_name='영화정보 리스트')
df2

                  영화명  ...                     제작사
0           신과함께-인과 연  ...  리얼라이즈픽쳐스(주),(주)덱스터스튜디오
1                요요현상  ...                     NaN
2        토미리스: 전쟁의 여신  ...                     NaN
3                아카이브  ...                     NaN
4      나는 나를 해고하지 않는다  ...             (주)홍시쥔,아트 윙
...               ...  ...                     ...
65526          세븐 파운즈  ...          콜럼비아 픽쳐스 코포레이션
65527           헨리 5세  ...                     NaN
65528        킹 오브 더 힐  ...                     NaN
65529        신조협려-무뢰한  ...                     NaN
65530           타이드랜드  ...                     NaN

[65531 rows x 9 columns]

In [206]:
df2 = df2.sort_values('영화명') # '영화명' 컬럼을 오름차순으로 정렬
df2

                                   영화명  ...       제작사
27729         2016 대단한단편영화제-단편 초청 섹션 2  ...       NaN
47062                           7월 4일   ...       NaN
10632                       KAFF2019단편  ...       NaN
13986   kqff 2018 특별전 : 숨겨진공간- 기억하는 우리  ...       NaN
4181                       가부키쵸 오일 마사지  ...       NaN
...                                ...  ...       ...
53525                               힛쳐  ...       NaN
57046                               힛쳐  ...       NaN
44628                             힛쳐 2  ...       NaN
60329                               戀情  ...  유니버셜 픽쳐스
23838                       ＡＶ여배우의 자취방  ...       NaN

[65531 rows x 9 columns]

In [341]:
movie = pd.merge(df1, df2 , on="영화명")  # 데이터프레임 df1와 df2를 공통된 컬럼인 '영화명'을 기준으로 병합. 공백 데이터는 NaN으로 채워짐.
movie.head()  # .head() 는 데이터프레임의 처음부터 5행까지만 출력

    순위      영화명        개봉일  ...  제작상태        감독                            제작사
0   50     1987 2017-12-27  ...    개봉       장준환                        (주)우정필름
1   92     2012 2009-11-12  ...    기타       NaN                            NaN
2   92     2012 2009-11-12  ...    개봉  롤랜드 에머리히                  센트로폴리스 엔터테인먼트
3  153   7급 공무원 2009-04-22  ...    개봉       신태라  (주)하리마오픽쳐스,(주)영화사수작,(주)디씨지플러스
4   10  7번방의 선물 2013-01-23  ...    개봉       이환경            (주)화인웍스,(주)씨엘엔터테인먼트

[5 rows x 18 columns]

In [342]:
movie = movie.sort_values('관객수', ascending=False) # 데이터프레임을 '관객수' 컬럼 기준으로 내림차순 정렬
movie.head()

    순위         영화명  ...           감독                              제작사
95   1          명량  ...          김한민                        (주)빅스톤픽쳐스
42   2        극한직업  ...          이병헌  (주)어바웃필름,영화사 해그림 주식회사,씨제이이앤엠(주)
149  3   신과함께-죄와 벌  ...          김용화           리얼라이즈픽쳐스(주),(주)덱스터스튜디오
31   4        국제시장  ...          윤제균              (주)제이케이필름,씨제이이앤엠(주)
184  5  어벤져스: 엔드게임  ...  안소니 루소,조 루소                              NaN

[5 rows x 18 columns]

In [343]:
movie = movie.reset_index(drop=True)  # 인덱스 리셋하기
movie.head()

  순위         영화명        개봉일  ...  제작상태           감독                              제작사
0  1          명량 2014-07-30  ...    개봉          김한민                        (주)빅스톤픽쳐스
1  2        극한직업 2019-01-23  ...    개봉          이병헌  (주)어바웃필름,영화사 해그림 주식회사,씨제이이앤엠(주)
2  3   신과함께-죄와 벌 2017-12-20  ...    개봉          김용화           리얼라이즈픽쳐스(주),(주)덱스터스튜디오
3  4        국제시장 2014-12-17  ...    개봉          윤제균              (주)제이케이필름,씨제이이앤엠(주)
4  5  어벤져스: 엔드게임 2019-04-24  ...    개봉  안소니 루소,조 루소                              NaN

[5 rows x 18 columns]

In [344]:
movie['제작상태'].unique()  # .unique()로 '제작상태' 컬럼 구성 원소 중복되는 값 없이 출력

array(['개봉', '기타', '개봉예정'], dtype=object)

In [328]:
movie['감독'].unique()

array(['김한민', '이병헌', '김용화', '윤제균', '안소니 루소,조 루소', '크리스 벅,제니퍼 리', '류승완',
       '지안 홍 쿠오', '제임스 카메론', '최동훈', '앙드레 테시네', '이환경', '수조이 고쉬',
       '데이빗 드웨이티스', '가이 리치', '로버트 L. 레비', '존 머스커,론 클레멘츠', '추창민', '장훈',
       '연상호', '양우석', '유사우', nan, '존 카펜터', '민아인', '정보서', '봉준호', '류성규',
       '이준익', '조스 웨던', '크리스토퍼 놀란', '브라이언 싱어', '이일형', '이상근', '한재림',
       '쉐인 블랙', '이석훈', '황동혁', '이해준,김병서', '강형철', '존 왓츠', '심형래', '김성훈',
       '마이클 베이', '브래드 버드', '김지운', '장준환', '피오트르 트자스칼스키', '박지은', '조의석',
       '임찬상', '로드리고 그란데', '다니엘 볼드윈', '김새노', '스테판 아르세니제비치', '우민호', '이재한',
       '이계벽', '애비 루트라', '장철수', '브라이언 굿맨', '강윤성', '나홍진', '김지훈', '다비드 얀센',
       '조성희', '크리스토퍼 맥쿼리', '박광현', '로버트 듀발', '페르난도 코르티조', '이정범', '매튜 본',
       '김학순', '빌 어거스트', '톰 후퍼', '애너 보든,라이언 플렉', '후안 안토니오 바요나', '김주환',
       '존 폴슨', '김진아', '허정', '김민정', '스테판 릭', '이한욱', '권호영', '최시영', '허진호',
       '김병우', '콜린 트레보로우', '조의석,김병서', '페이튼 리드', '스콧 데릭슨', '장재현', '김광식',
       '라이언 쿠글러', '롤랜드 에머리히', '이충영,김 리차드 S.', '제임스 마쉬', '이한', '이재규',
       '토드 필립스', '김유신', '마크 포스터', '리차드 클레터', '크리스토프 갱스',
       '게리 트러스데일,커크 와이즈', '장 콕토', '빌 콘돈', '김동원', '여인영', '이해영', '이만희',
       '김선경,윌리암 제카', '김세연', '제임스 완', '윤종빈', '고장위',
       '제프리 라이너,리찌 보든,아담 프리드만,린다 하사니,알렉산더 페인,토니 랜들,리차드 쉐퍼드', '피트 닥터',
       '빅터 플레밍', '김주호', '리들리 스콧', '타이카 와이티티', '마크 웹', '진모영', '원신연', '김석윤',
       '존 파브로', '로저 알러스,롭 민코프', '더그 라이만', '바이론 하워드,리치 무어', '박종연', '박훈정',
       '데이빗 예이츠', '마크 오스본,존 스티븐슨', '민규동', '허명행', '박정우', '앨버트 르윈', '김찬년',
       '필리다 로이드', '손용호', '정용기', '맥지', '홍원찬', '강우석', '박찬욱', '숀 레비', '정윤철',
       '장견정', '박성호', '이동승', '니콜라스 로에그', '호세 미구엘 리베이로', '이용주', '신태라',
       '임순례', '장창원', '정재익', '황현진', '맷 리브스', '여인영,알레산드로 칼로니',
       '조 루소,안소니 루소', '조지 밀러', '조진규', '프레드 올렌 레이', '루벤 플레셔', '짐 길레스피',
       '김태균', '데이빗 레이치', '최국희', '유하', '데이미언 셔젤', '신카이 마코토', '김유진',
       '알렉스 커츠먼', '김도영', 'F. 게리 그레이', '낸시 마이어스', '페드로 알모도바르', '하기우다 코지',
       '오토 프레밍거', '조정래', '안선경', '할 애쉬비', '이영우,김효천', '조범구', '리 언크리치',
       '곽경택', '존 길러민', '피터 잭슨', '어니스트 B. 쇼드색,머리안 C. 쿠퍼', '존 카니',
       '델머 데이비스', '정지영', '지안귀도 스피넬리', '리차드 커티스', '이승준', '프리츠 랑', '폴 페이그',
       '마이크 뉴웰', '최성현', '조시 쿨리', '로베르 브레송', '마르셀 레르비에', '김소동', '박누리',
       '배리 소넨필드', '이원태'], dtype=object)

In [345]:
movie['장르'].unique()  # '드라마,공포(호러),스릴러', '드라마,스릴러', '스릴러,드라마'와 같이 중복된 값을 확인

array(['사극,액션', '코미디', '판타지,드라마', '드라마', '액션,SF', '애니메이션', '액션,드라마', 'SF',
       'SF,액션,어드벤처', '액션,범죄', '범죄,드라마', '코미디,드라마', '어드벤처', '애니메이션,가족',
       '어드벤처,가족,판타지', '어드벤처,판타지', '드라마,뮤지컬,어드벤처,가족,판타지', '사극,드라마',
       '액션,스릴러', '액션,드라마,어드벤처', '액션,어드벤처,판타지,SF', '공포(호러),스릴러,액션,SF',
       '판타지', '공포(호러)', 'SF,가족,드라마', '드라마,미스터리,스릴러,판타지',
       '애니메이션,어드벤처,가족,코미디,뮤지컬,판타지', '범죄,코미디', '코미디,액션', 'SF,액션',
       '액션,어드벤처,SF', '액션,SF,스릴러', '어드벤처,드라마', '드라마,액션,코미디',
       '액션,어드벤처,코미디,SF', '액션,판타지', '액션', '액션,어드벤처', '드라마,코미디', '스릴러,미스터리',
       '스릴러', '전쟁,드라마', '가족', '액션,코미디,드라마', '범죄,액션', '미스터리,스릴러,드라마',
       '애니메이션,드라마', '멜로/로맨스,드라마,판타지', '액션,범죄,스릴러', '사극', '다큐멘터리',
       '액션,스릴러,어드벤처', '멜로/로맨스,코미디', '액션,코미디,판타지', '드라마,미스터리', '드라마,범죄',
       '기타', '드라마,공포(호러),스릴러', '스릴러,드라마', '드라마,스릴러', '드라마,판타지', '범죄,기타',
       '액션,어드벤처,판타지', '미스터리,드라마', '드라마,액션', '액션,드라마,SF', '액션,SF,어드벤처',
       '액션,드라마,스릴러', '드라마,스릴러,SF,액션,어드벤처', '공포(호러),SF', '판타지,멜로/로맨스',
       '애니메이션,드라마,가족', '멜로/로맨스,판타지,뮤지컬', '애니메이션,액션,어드벤처,코미디,가족',
       '범죄,스릴러,액션', '코미디,드라마,멜로/로맨스', '애니메이션,코미디', '액션,어드벤처,코미디',
       '드라마,사극,전쟁', '코미디,사극', '사극,액션,드라마', '어드벤처,드라마,가족',
       '애니메이션,어드벤처,가족,뮤지컬,드라마', '애니메이션,액션,어드벤처', '애니메이션,코미디,액션,가족',
       '코미디,멜로/로맨스', nan, '멜로/로맨스,뮤지컬', '판타지,미스터리', '액션,판타지,SF,어드벤처',
       'SF,드라마,액션', '코미디,어드벤처', '범죄,드라마,액션,미스터리', '미스터리,범죄', '멜로/로맨스,드라마',
       '코미디,액션,드라마,범죄', '범죄', '드라마,기타', '액션,드라마,SF,스릴러', '액션,어드벤처,스릴러',
       '공포(호러),스릴러', '사극,코미디,어드벤처', '드라마,뮤지컬,멜로/로맨스', '애니메이션,드라마,멜로/로맨스',
       '사극,드라마,액션,전쟁', '드라마,전쟁', 'SF,스릴러,액션,판타지', '드라마,어드벤처',
       '액션,공포(호러),어드벤처,판타지,스릴러', '멜로/로맨스', '드라마,멜로/로맨스,서부극(웨스턴)',
       '액션,스릴러,범죄', '멜로/로맨스,스릴러', '액션,코미디', '애니메이션,어드벤처,코미디',
       '드라마,멜로/로맨스', '액션,코미디,SF'], dtype=object)

In [346]:
# .drop()으로 중복되거나 데이터분석에 필요없다고 판단한 컬럼 삭제. axis=1 일 경우, 컬럼(열) 삭제. default는 axis=0으로 로우(행) 삭제.
movie = movie.drop(['순위','매출액','대표국적','국적','상영횟수','배급사','영화명(영문)','제작연도','제작사'], axis=1)

In [347]:
movie.head()

          영화명        개봉일       관객수  스크린수 제작국가  유형       장르 제작상태           감독
0          명량 2014-07-30  17615686  1587   한국  장편    사극,액션   개봉          김한민
1        극한직업 2019-01-23  16266338  2003   한국  장편      코미디   개봉          이병헌
2   신과함께-죄와 벌 2017-12-20  14411782  1912   한국  장편  판타지,드라마   개봉          김용화
3        국제시장 2014-12-17  14263980  1044   한국  장편      드라마   개봉          윤제균
4  어벤져스: 엔드게임 2019-04-24  13977602  2835   미국  장편    액션,SF   개봉  안소니 루소,조 루소

In [332]:
type(movie)   # 데이터프레임 movie의 타입은 데이터프레임 타입

pandas.core.frame.DataFrame

In [333]:
movie.loc[1,['장르']]

장르    코미디
Name: 1, dtype: object

In [334]:
type(movie.loc[1,['장르']]) # 시리즈 타입.
# 머신러닝 교재 내용
# 시리즈(Series)와 데이터프레임(DataFrame)은 서로 다른 종류의 데이터를 한곳에 담는 그릇(컨테이너) 역할을 한다. 
# 다만, 시리즈는 1차원 배열이고, 데이터프레임은 2차원 배열이라는 점에서 차이가 있다.
# 시리즈의 인덱스(index) 데이터 값(value)와 일대일 대응이 된다. 이런 관점에서 키(k)와 값(v)이 '{k:v}' 형태로
# 짝을 이루는 파이썬 딕셔너리(dictionary)와 비슷한 구조를 갖는다고 볼 수 있다. 딕셔너리를 시리즈로 변환할 수 있다.

pandas.core.series.Series

In [335]:
# for i in range(len(movie.index)):
for i in range(0, 5):
  print(movie.loc[i,['장르']])

장르    사극,액션
Name: 0, dtype: object
장르    코미디
Name: 1, dtype: object
장르    판타지,드라마
Name: 2, dtype: object
장르    드라마
Name: 3, dtype: object
장르    액션,SF
Name: 4, dtype: object

In [336]:
movie.loc[1,['장르']] == '코미디'

장르    True
Name: 1, dtype: bool

In [339]:
# for i in range(movie.shape[0]): # 멜로/로맨스 장르 분리해보려다가 생략함
  # movie.장르[i] = str(movie.장르[i]).replace('/', ',')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [348]:
for i in range(movie.shape[0]): # 행 개수만큼 276회 반복
  movie.장르[i] = str(movie.장르[i]).split(',') # 장르 데이터를 ','와 '/'를 기준으로 나눠서 리스트로 변경. '|' 는 or 기호

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [349]:
movie.장르[0]

['사극', '액션']

In [350]:
movie.head()

          영화명        개봉일       관객수  스크린수 제작국가  유형          장르 제작상태           감독
0          명량 2014-07-30  17615686  1587   한국  장편    [사극, 액션]   개봉          김한민
1        극한직업 2019-01-23  16266338  2003   한국  장편       [코미디]   개봉          이병헌
2   신과함께-죄와 벌 2017-12-20  14411782  1912   한국  장편  [판타지, 드라마]   개봉          김용화
3        국제시장 2014-12-17  14263980  1044   한국  장편       [드라마]   개봉          윤제균
4  어벤져스: 엔드게임 2019-04-24  13977602  2835   미국  장편    [액션, SF]   개봉  안소니 루소,조 루소

In [351]:
movie.장르[0][1]  # [행][열]

'액션'

In [352]:
movie

            영화명        개봉일       관객수  스크린수  ...  유형             장르 제작상태           감독
0            명량 2014-07-30  17615686  1587  ...  장편       [사극, 액션]   개봉          김한민
1          극한직업 2019-01-23  16266338  2003  ...  장편          [코미디]   개봉          이병헌
2     신과함께-죄와 벌 2017-12-20  14411782  1912  ...  장편     [판타지, 드라마]   개봉          김용화
3          국제시장 2014-12-17  14263980  1044  ...  장편          [드라마]   개봉          윤제균
4    어벤져스: 엔드게임 2019-04-24  13977602  2835  ...  장편       [액션, SF]   개봉  안소니 루소,조 루소
..          ...        ...       ...   ...  ...  ..            ...  ...          ...
271    맨 인 블랙 3 2012-05-24   3379762   770  ...  장편  [액션, 코미디, SF]   개봉      배리 소넨필드
272         악인전 2019-05-15   3364712  1307  ...  장편       [범죄, 액션]   개봉          이원태
273          이끼 2010-07-14   3350311   740  ...  장편     [드라마, 스릴러]   개봉          강우석
274         한반도 2006-07-13   3331593   483  ...  장편      [드라마, 액션]   개봉          강우석
275       포화속으로 2010-06-16   3330326   742  ...  장편      [드라마, 전쟁]   개봉          이재한

[276 rows x 9 columns]